<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <div class="col-lg-2 col-md-2">
                            <div class="logo" style="display: flex;border: 2px solid #e7ab3c;width: 7.5rem;height:4.5rem;padding:0.5rem;border-radius: 5px; box-shadow: 1px 0px 12px 3px #ffffff7a;">
                                <p class="logo-container" style="font-size: 1.7rem;;font-weight: 600;color:#e7ab3c;font-family: 'Train One', serif;font-style: normal;border-radius: 5px;">
                                  Puzl
                                  Mart
                                </p>

                                <div class="rubik-cube">
                                    <div class="face front">
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                    </div>
                                    <div class="face back">
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                    </div>
                                    <div class="face right">
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                    </div>
                                    <div class="face left">
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                    </div>
                                    <div class="face top">
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                    </div>
                                    <div class="face bottom">
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                      <div></div><div></div><div></div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li>Address: Puzl Mart, 123 Main Street, Bangalore, India</li>
                        <li>Phone: +1(123)456-456</li>
                        <li>Email: support@puzlmart.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Products</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="email" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Puzl Mart</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.dd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<!-- Footer Section -->


<!-- Bootstrap & JS Scripts -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
let wishlist = document.querySelector('.wishlist');
function openWishlist(){
    wishlist.classList.add('active');
    wishlist.style.display = 'block'
}
function closeWishlist(){
    wishlist.style.display = 'none'
    wishlist.classList.remove('active');
}
let cart = document.querySelector('.cart'); 
function openCart() {
  cart.style.display = 'block';
  cart.classList.add('active');
}
function closeCart() {
  cart.style.display = 'none';
  cart.classList.remove('active');
}
document.querySelectorAll('.cart-remove').forEach(button => {
        button.addEventListener('click', async (event) => {
            event.preventDefault();
            
            const confirmation = await Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to remove this item from your cart?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel',
                reverseButtons: true
            });
            if (confirmation.isConfirmed) {
                const productId = event.target.closest('a').getAttribute('href').split('/').pop();
                try {
                    const response = await fetch(`/removeFromCart/${productId}`, {
                        method: 'GET', 
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
                    const data = await response.json();
                    if (response.ok) {
                        Swal.fire('Removed!', 'The item has been removed from your cart.', 'success').then(() => location.reload());
                    } else {
                        Swal.fire('Error!', 'There was an issue removing the item. Please try again.', 'error');
                    }
                } catch (error) {
                    console.error('Error removing item:', error);
                    Swal.fire('Error!', 'An error occurred while removing the item. Please try again.', 'error');
                }
            } else {
                Swal.fire('Cancelled', 'The item is still in your cart.', 'info');
            }
        });
    });
    document.querySelectorAll('.wishlist-remove').forEach(button => {
    button.addEventListener('click', async (event) => {
        event.preventDefault();
        const confirmation = await Swal.fire({
            title: 'Are you sure?',
            text: "Do you want to remove this item from your wishlist?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, remove it!',
            cancelButtonText: 'Cancel',
            reverseButtons: true
        });
        if (confirmation.isConfirmed) {
            const productsId = event.target.closest('a').dataset.id;
            console.log('Product ID for removal:', productsId); // Debug statement
            try {
                const response = await fetch(`/removeFromWishlist/${productsId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                const data = await response.json();
                if (response.ok) {
                    Swal.fire('Removed!', 'The item has been removed from your wishlist.', 'success').then(() => location.reload());
                } else {
                    Swal.fire('Error!', 'There was an issue removing the item. Please try again.', 'error');
                }
            } catch (error) {
                console.error('Error removing item:', error);
                Swal.fire('Error!', 'An error occurred while removing the item. Please try again.', 'error');
            }
        } else {
            Swal.fire('Cancelled', 'The item is still in your wishlist.', 'info');
        }
    });
});
   
document.querySelectorAll('.wishlist-btn').forEach(button => {
  button.addEventListener('click',(e) => {
    e.preventDefault();
    
    const productId = button.getAttribute('data-id');
    
    fetch(`/addToWishlist/${productId}`, {
   method: 'GET',
   headers: { 'Content-Type': 'application/json' }
})
.then(response => {
    return response.json().then(data => {
        if (!response.ok) {
            throw new Error(data.message || 'Something went wrong');
        }
    return data;
    });
})
.then(data => {
    if (data.success) {
        Swal.fire({
            title: 'Added to wishlist',
            text: data.message,
            icon: 'success',
            confirmButtonText: 'OK'
        }).then(() => location.reload());
    } 
})
.catch(error => {
    console.log(error);
    Swal.fire({
        title: 'Error',
        text: error.message,
        icon: 'error',
        confirmButtonText: 'OK'
    });
});
  })
})
document.querySelectorAll('.cart-btn').forEach(button => {
  button.addEventListener('click',(e) => {
    e.preventDefault();
    
    const productId = button.getAttribute('data-id');
    
    fetch(`/addToCart/${productId}`, {
   method: 'GET',
   headers: { 'Content-Type': 'application/json' }
})
.then(response => {
    if (!response.ok) {
        return response.json().then(errData => {
            throw new Error(errData.error || 'Something went wrong');
        });
    }
    return response.json();
})
.then(data => {
    if (data.success) {
        Swal.fire({
            title: 'Added to cart',
            text: data.message,
            icon: 'success',
            confirmButtonText: 'OK'
        }).then(() => location.reload());
    } else {
        Swal.fire({
            title: 'Error',
            text: data.error || 'An unknown error occurred',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
})
.catch(error => {
    console.log(error);
    Swal.fire({
        title: 'Error',
        text: error.message,
        icon: 'error',
        confirmButtonText: 'OK'
    });
});
  })
})
const sendRequest = async (url,method) => {
    try {
      const response = await fetch(url,{method});
      const data = await response.json();
      if(!response.ok){
        Swal.fire({
          icon:'error',
          title:'Oops',
          text:data.error || 'Something went wrong!'
        });
      }else{
        location.reload();
      }
    } catch (error) {
      Swal.fire({
        icon:'error',
        title:'Error',
        text:error.message || 'An unexpected error occured!'
      });
    }
  };
  document.querySelectorAll('.increase-btn').forEach(button => {
    button.addEventListener('click',(e) => {
      e.preventDefault();
      const productId = button.dataset.id;
      sendRequest(`/increaseQuantity/${productId}`,'POST');
    });
  });
  document.querySelectorAll('.decrease-btn').forEach(button => {
    button.addEventListener('click',(e) => {
      e.preventDefault();
      const productId = button.dataset.id;
      sendRequest(`/decreaseQuantity/${productId}`,'POST')
    });
  });
</script>
</body>
</html>