/* Styling for the main page */
body {
    font-family: 'Anonymous Pro', monospace;
    background-color:white;
  }

  /* Sidebar styling */
  .sidebar {
    padding-top: 1rem;
    width: 220px;
    height: 100vh;
    position: fixed;
    overflow-y:auto;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f0ffff; /* Light color for the track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #04625f; /* Thumb color */
    border-radius: 10px;
    border: 2px solid #f0ffff; /* Adds space around the thumb */
  }
  
  /* Optional: Hover effect on scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #04625f;
  }
  
  /* Firefox scrollbar customization */
  * {
    scrollbar-width: thin;
    scrollbar-color: #04625f #f0ffff;
  }

  .sidebar a {
    display: block;
    padding: 10px 20px;
    color: #04625f;
    background-color: #f0ffff;
    font-weight: bold;
    text-decoration: none;
  }

  .sidebar .nav-item-heading {
    font-size: 18px;
    color: #fff;
    padding: 15px 20px;
  }

  .sidebar a:hover {
    background-color: #f0ffff;
    color: #04625f;
  }

  /* Main content styling */
  .content {
    margin-left: 240px;
    padding: 1rem;
  }

  /* Top Navbar styling */
  .navbar {
    padding: 1rem;
    border-radius: 10px;
  }

  .navbar-brand {
    color: #f0ffff;
    font-weight: bold;
    
  }

  .search-bar {
    max-width: 500px;
    width: 100%;
    margin-right: 0.25rem;
    background-color: #f0ffff;
  }

  .search-btn{
    background-color:#f0ffff ;
    border-bottom-right-radius: 15px;
    
  }

  .btn-logout {
    background-color: #f0ffff;
    color: #04625f;
    border-radius: 5px;
    border-bottom-left-radius: 15px;
  }
  

  .error-message{
    color: red;
  }

  /* Media queries */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .content {
      margin-left: 0;
    }

    .search-bar {
      max-width: 100%;
      margin-top: 1rem;
    }
  }

  input.form-control{
    margin-top: 2rem;
  }

  .submit-btn{
    margin-top: 1rem;
    border-style: none;
    background: #04625f;
    color: #f0ffff;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
  }

  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7f4;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  .image-upload button {
    background-color: #04625f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  .product-table th, .product-table td {
    text-align: center;
    vertical-align: middle;
}
.action-icons {
    font-size: 1.2rem;
    color: #04625f;
    cursor: pointer;
}
.rubik-cube {
  position: relative;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  animation: rotate3D 6s infinite linear;
}

.face {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  transform-origin: center;
  transform-style: preserve-3d;
}

.face div {
  width: 10px; /* 50px divided by 3 */
  height: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid white;
}

/* Rubik's Cube Faces */
.front { transform: rotateY(0deg) translateZ(15px); }
.back { transform: rotateY(180deg) translateZ(15px); }
.right { transform: rotateY(90deg) translateZ(15px); }
.left { transform: rotateY(-90deg) translateZ(15px); }
.top { transform: rotateX(90deg) translateZ(15px); }
.bottom { transform: rotateX(-90deg) translateZ(15px); }

/* Colors for the Rubik's Cube */
.front div { background-color: #00fc8b; }  /* Orange */
.back div { background-color: #f1e61d; }   /* Blue */
.right div { background-color: #d807f8; }  /* Green */
.left div { background-color: #e63010; }   /* Yellow */
.top div { background-color: #157bee; }    /* White */
.bottom div { background-color: #0bf42e; } /* Red */

@keyframes rotate3D {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}
.swal2-container.my-custom-class {
  position: absolute !important;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
    background: #04625f;
    padding: 3rem;
    border-radius: 10px;
    color: white;
}
.swal2-popup{
  display:flex;
  flex-direction: column;
}
.swal2-content{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.swal2-confirm{
  display: inline-block;
    background: #f0ffff;
    color: #04625f;
    width: 21rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
}
.swal2-container{
  position: absolute !important;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
    background: #04625f;
    padding: 3rem;
    border-radius: 10px;
    color: white;
}