
.img-zoom-container {
    position: relative;
    
    display: block;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.4);
    width: 150px; 
    height: 150px;
    visibility: hidden !important;
    cursor: zoom-in;
  }
  
  .img-zoom-result {
    position: absolute;
    top: 0;
    left: 100%;
    width: 80%; 
    height: 80%; 
    border: 1px solid #000;
    background: no-repeat;
    background-size: cover;
    transition: opacity .5s, transform .5s;
    display: none; 
    margin-left: -818px;
    z-index: 9999;
    
  }
  
  .productGalleryColumn:hover{
    border-radius: 10px;
    box-shadow: -1px 0px 12px 0px black;
  }

  .breadcrumbs-txt{
    color:black;
  }
  .breadcrumbs-txt:hover{
    color:#e7ab3c;
  }
  .breadcrumbs-txt.active{
    color:#e7ab3c;
    font-weight: bold;
  }
  .sc-container{
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-container i{
    width:500px;
    margin: 2rem 0;
}
.sc-container h1{
    font-size: 2.8 rem;
    margin-bottom: 10px;
}
.sc-container p{
    max-width: 600px;
    font-size: 0.97rem;
    text-align: center;
    margin: 0.5rem 0;
}
.sc-btn{
    padding:12px 20px;
    border-radius: 2rem;
    background: #42ada8;
    color:var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
}
@media (max-width:1080px){
    .section{
        padding:3rem 0 2rem;
    }
    .shop{
        margin-top:2rem !important;
    }
}
.star-rating .star {
  font-size: 24px; 
  color: gray; 
}

.star-rating .star.selected {
  color: yellow; 
}
#sortBtn{
  color:white;
  background-color:#e7ab3c;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  border:1px ridge #00000040;
  font-family: monospace;
}
#sortBtn:hover{
  background-color:#e7ab3c;
  color:black;
}