body {
    background-color: #80cbc4;
  }
  .navbar, .footer {
    background-color: #4db6ac;
  }
  .product-card {
    background-color: #e0f2f1;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
  }
  .product-title, .footer-title {
    font-weight: bold;
  }
  .product-price, .footer {
    font-size: 18px;
    color: #00796b;
  }
  .btn-add {
    background-color: #4db6ac;
    border: none;
    color: white;
  }
  .popular-brands img {
    width: 100px;
  }
  .footer {
    padding: 20px;
    color: #fff;
  }