<%-include('../../views/partials/user/header')%>
<nav class="breadcrumbs mt-3 mb-3 ml-5">
    <a href="/" class="breadcrumbs-txt">Home</a>&gt;
    <a href="/about" class="breadcrumbs-txt active">About Us</a>
</nav>
<section style="background-color: #e6ab3c2b;">
    <div class="container-fluid" style="padding: 1rem;">
        <h1 class="text-center">About Us</h1>
        <div style="display:flex;margin:1rem;padding:1rem;background-color: white;">
            <div class="col-md-6">
                <h3>Why <span style="font-family: 'Train One', serif;color:#e7ab3c">Puzl Mart</span> ?</h3>
                <p style="font-family: monospace;font-size: 20px;margin-top:1rem">At Puzl Mart, we are more than just a store—we are a destination for puzzle lovers! Whether you're a casual solver or a dedicated enthusiast, we strive to provide an exceptional puzzle experience for all ages. Our collection includes a wide variety of puzzles, from classic jigsaw puzzles and brain teasers to advanced 3D puzzles and strategy games.

                    We believe that puzzles ignite creativity, enhance problem-solving skills, and bring people together. That's why we carefully curate high-quality puzzles from top brands, ensuring endless fun, challenge, and satisfaction for our customers.
                    
                    Join us at Puzl Mart and discover the joy of puzzling! 🧩✨</p>
                <div style="display: flex;gap:4rem;margin-top:6rem;margin-left: 1rem;">
                    <div>
                        <i class="fa-solid fa-truck" style="font-size: 6rem;"></i>
                        <p>Home Delivery</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-hand-holding-dollar" style="font-size: 6rem;"></i>
                        <p>Best Price</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-box" style="font-size: 6rem;"></i>
                        <p>Custom Box</p>
                    </div>
                    <div>
                        <img src="/images/Vector.jpg" style="font-size: 5rem;" alt="">
                        <p>24 x 7 Support</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <img src="/images/img1.jpg" alt="" style="border-radius: 15px;">
            </div>
        </div>
    </div>
</section>
<%-include('../../views/partials/user/footer')%>