
<%- include("../partials/user/header") %>
    <!--head image-->
    <section class="hero text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <img src="images/img1.jpg" alt="Puzzles" class="img-fluid img1">
                    <div class="section1-text mt-5">
                        <h2>Puzzle fun for all ages...</h2>
                        <p>Create lasting memories with our puzzles, perfect for family game nights!</p>
                        <a href="#" class="btn btn-primary">Explore Puzzles</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Featured Puzzles Section -->
    <section class="featured-puzzles py-5">
        <div class="container">
            <h3 class="text-start featured-txt">Featured Puzzles</h3>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img src="images/cube-puzzle.jpg" class="card-img-top" alt="Cube Puzzle">
                        <div class="card-body text-center">
                            <h5 class="card-title">CUBELELO Speed Cube</h5>
                            <p class="card-text">Combo set of 2x2 , 3x3 , Triangle Cube and Mirror Cube Puzzle (COMBO 2x2 + 3x3 + Triangle + Mirror)</p>
                            <p class="card-text">Rs. 649</p>
                            <div class="puzzle-card1">
                               <a href="#" class="btn btn-success card-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img src="images/spider-man.jpg" class="card-img-top" alt="Jigsaw Puzzle">
                        <div class="card-body text-center">
                            <h5 class="card-title">FRANK Jigsaw Puzzle</h5>
                            <p class="card-text">Marvel Spider Man Jigsaw Puzzle (60 Pieces) for kids above 5+ years</p>
                            <p class="card-text">Rs. 950</p>
                            <div class="puzzle-card2">
                                <a href="#" class="btn btn-success card-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img src="images/crossword.jpg" class="card-img-top" alt="Cube Puzzle">
                        <div class="card-body text-center">
                            <h5 class="card-title">YOUNG WHEELS Crossword</h5>
                            <p class="card-text">Crossword game, Puzzles for kids english word and puzzle games</p>
                            <p class="card-text">Rs. 999</p>
                            <div class="puzzle-card3">
                                <a href="#" class="btn btn-success card-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img src="images/brainTeaser.jpg" class="card-img-top" alt="Cube Puzzle">
                        <div class="card-body text-center">
                            <h5 class="card-title">CHOCOZONE Brain Teaser</h5>
                            <p class="card-text">Brain Teaser game for 6-8 years old kids, 2 players game</p>
                            <p class="card-text">Rs. 755</p>
                            <div class="puzzle-card4">
                                <a href="#" class="btn btn-success card-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more cards as needed -->
            </div>
            <div class="text-center">
                <a href="#" class="btn viewmore">View More</a>
            </div>
        </div>
    </section>

    <!-- Categories Section -->
    <section class="puzzle-categories py-5 mt-5">
        <div class="container">
            <h3 class="text-center cat-txt">Browse Puzzles by Category</h3>
            <div class="row text-center mt-5" >
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/cube-puzzle.jpg" alt="3D Puzzle" class="img-fluid">
                        <p class="category-txt">3D Puzzle</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/spider-man.jpg" alt="Jigsaw Puzzle" class="img-fluid">
                        <p class="category-txt">Jigsaw Puzzle</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/crossword.jpg" alt="Jigsaw Puzzle" class="img-fluid">
                        <p class="category-txt">Jigsaw Puzzle</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/brainTeaser.jpg" alt="Jigsaw Puzzle" class="img-fluid">
                        <p class="category-txt">Jigsaw Puzzle</p>
                    </div>
                </div>
                <!-- Add more categories as needed -->
            </div>
            <div class="text-center">
                <a href="#" class="btn browse">Browse Categories</a>
            </div>
        </div>
    </section>
    <section class="puzzle-categories py-5 mt-5">
        <div class="container">
            <h3 class="text-center cat-txt">Popular Brands of Puzzles</h3>
            <div class="row text-center mt-5" >
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/cubelelo.jpg" alt="3D Puzzle" class="img-fluid">
                        <p class="category-txt">Cubelelo</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/frank.jpg" alt="Jigsaw Puzzle" class="img-fluid">
                        <p class="category-txt">Frank</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/funskool.jpg" alt="Jigsaw Puzzle" class="img-fluid">
                        <p class="category-txt">Funskool</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="category-card">
                        <img src="images/imagimake.jpg" alt="Jigsaw Puzzle" class="img-fluid">
                        <p class="category-txt">Imagi make</p>
                    </div>
                </div>
                <!-- Add more categories as needed -->
            </div>
            <div class="text-center">
                <a href="#" class="btn browse">Browse Categories</a>
            </div>
        </div>
    </section>

    <%- include("../partials/user/footer") %>

    