<%- include("user/header") %>

  <!-- Products Section -->
  <div class="container">
    <h2 class="text-center my-4 product-title">Our Products</h2>
    <div class="row">
      <!-- Product Card -->
      <div class="col-md-3">
        <div class="product-card">
          <img src="cube-image.jpg" class="img-fluid" alt="Cube">
          <h5 class="product-title">CUBELELO Speed Cube</h5>
          <p>Combo set of 2x2, 3x3 and Mirror Cube Puzzle</p>
          <p class="product-price">Rs. 649</p>
          <button class="btn btn-add btn-block">Add to Cart</button>
        </div>
      </div>
      <!-- Add more product cards here -->
    </div>
    <div class="text-center">
      <button class="btn btn-add">View More</button>
    </div>
  </div>

  <!-- Popular Brands Section -->
  <div class="container text-center my-4">
    <h3 class="product-title">Popular Brands</h3>
    <div class="row popular-brands">
      <div class="col-md-2"><img src="brand1-logo.jpg" alt="Brand 1"></div>
      <div class="col-md-2"><img src="brand2-logo.jpg" alt="Brand 2"></div>
      <div class="col-md-2"><img src="brand3-logo.jpg" alt="Brand 3"></div>
      <div class="col-md-2"><img src="brand4-logo.jpg" alt="Brand 4"></div>
      <div class="col-md-2"><img src="brand5-logo.jpg" alt="Brand 5"></div>
    </div>
  </div>

  <%- include("user/footer") %>

  