<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzl Mart SignUp form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="form-container">
        <div class="form-box">
            <h2>SignUp</h2>
            <form>
                <input type="text" class="form-control" placeholder="Username">
                <input type="email" class="form-control" placeholder="Email">
                <input type="password" class="form-control" placeholder="Password">
                <input type="password" class="form-control" placeholder="Confirm Password">
                <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
            <p class="text-center">Already have an account? <a href="#">Login</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>