<%-include('../../views/partials/user/header')%>
<nav class="breadcrumbs mt-3 mb-3 container">
    <a href="/" class="breadcrumbs-txt" style="text-decoration: none;">Home</a>&gt;
    <a href="/userProfile" class="breadcrumbs-txt" style="text-decoration: none;">My Details</a>
</nav>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <a href="/userDetails" style="text-decoration: none;">
                <div class="col user-profile-card">
                    <div class="card h-100 border-info mb-3 mt-3" style="border-width: 0.15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Your Details</h5>
                            <p>Name,email,mobile number,forgot password</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/userAddress" style="text-decoration:none">
                <div class="col user-profile-card">
                    <div class="card h-100 border-info mb-3 mt-3" style="border-width: 0.15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Your Addresses</h5>
                            <p>Add,edit and delete addresses for orders</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/myOrders" style="text-decoration:none">
            <div class="col user-profile-card">
                <div class="card h-100 border-info mb-3 mt-3" style="border-width: 0.15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Your Orders</h5>
                        <p>Track,return,cancel or buy things again</p>
                    </div>
                </div>
            </div>
            </a>
            <a href="/wallet">
            <div class="col user-profile-card">
                <div class="card h-100 border-info mb-3" style="border-width: 0.15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Wallet</h5>
                        <p>Balance and Transaction</p>
                    </div>
                </div>
            </div>
            </a>
            <div class="col user-profile-card">
                <div class="card h-100 border-info mb-3" style="border-width: 0.15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Your Orders</h5>
                        <p>Track,return,cancel or buy things again</p>
                    </div>
                </div>
            </div>
            <div class="col user-profile-card">
                <div class="card h-100 border-info mb-3" style="border-width: 0.15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Your Orders</h5>
                        <p>Track,return,cancel or buy things again</p>
                    </div>
                </div>
            </div>
            <div class="col user-profile-card">
                <div class="card h-100 border-info mb-3" style="border-width: 0.15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Your Orders</h5>
                        <p>Track,return,cancel or buy things again</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('../../views/partials/user/footer')%>