<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Train+One&display=swap" rel="stylesheet">
  <!-- Box Icons -->   
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
  <!-- Template Main CSS File -->
  <link href="/css/admin.css" rel="stylesheet">

  <!-- Sweet alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
  
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center" style="text-decoration: none;">
        <div style="margin-top: 1rem;">
          <p class="logo-container" style="font-size: 2rem;border: 1px solid;font-weight: 600;color:#113779;font-family: 'Train One', serif;font-style: normal;border-style: ridge;padding: 0.5rem;border-radius: 5px;">
            Puzl Mart
            </p>
                    </div>
      <div class="rubik-cube">
        <div class="face front">
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
        </div>
        <div class="face back">
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
        </div>
        <div class="face right">
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
        </div>
        <div class="face left">
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
        </div>
        <div class="face top">
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
        </div>
        <div class="face bottom">
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
          <div></div><div></div><div></div>
        </div>
      </div>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn" id="toggle-sidebar" onclick="openSidebar()"></i> -->
      <i class='bx bx-list-ul toggle-sidebar-btn' id="toggle-sidebar" ></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" >
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bx bx-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bx bx-search"></i>
          </a>
        </li><!-- End Search Icon-->

        
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="">
            <i class='bx bx-user-circle' style="font-size: 2rem;"></i>
            <span class="d-none d-md-block ps-2">Admin</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
            <i class="bi bi-box-arrow-right"></i>
            <span>Sign Out</span>
          </a>
        </li>
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Inventory</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/category">
              <i class="bi bi-circle"></i><span>Categories</span>
            </a>
          </li>
          <li>
            <a href="/admin/brands">
              <i class="bi bi-circle"></i><span>Brands</span>
            </a>
          </li>
          <li>
            <a href="/admin/products">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#orders-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Orders</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="orders-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/orders">
              <i class="bi bi-circle"></i><span>Orders List</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Users</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/users">
              <i class="bi bi-circle"></i><span>Users List</span>
            </a>
          </li>
          <li>
            <a href="/admin/referrals">
              <i class="bi bi-circle"></i><span>Referral</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#offersAndCoupons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Offers and Coupons</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="offersAndCoupons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/offer">
              <i class="bi bi-circle"></i><span>Offer</span>
            </a>
          </li>
          <li>
            <a href="/admin/coupons">
              <i class="bi bi-circle"></i><span>Coupon</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#stockAndSale-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Stock and Sales Report</span><i class='bx bx-chevron-down ms-auto'></i>
        </a>
        <ul id="stockAndSale-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/stock">
              <i class="bi bi-circle"></i><span>Stock</span>
            </a>
          </li>
          <li>
            <a href="/admin/salesReport">
              <i class="bi bi-circle"></i><span>Sales Report</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </aside>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home - Puzl Mart</title>
  Bootstrap CSS
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/dashboard.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
</head>
<body>

  Sidebar
  <div class="sidebar" style="background-color: #04625f;color:white">
    <div class="ms-2"><img class="img-fluid" src="/images/PuzlMart.svg" alt="" style="width:200px"></div>

    <div class="nav-item-heading"><a href="/admin">Dashboard</a></div>
    
    <div class="nav-item-heading">Inventory</div>
    <div class="nav-item-heading"><a href="/admin/category">Categories</a></div>
    <div class="nav-item-heading"><a href="/admin/brands">Brands</a></div>
    <div class="nav-item-heading"><a href="/admin/products">Product List</a></div>
    <div class="nav-item-heading">Orders</div>
    <div class="nav-item-heading"><a href="/admin/orders">Orders List</a></div>
    <div class="nav-item-heading">Users</div>
    <div class="nav-item-heading"><a href="/admin/users">User List</a></div>
    <div class="nav-item-heading"><a href="/admin/referrals">Referral</a></div>
    <div class="nav-item-heading">Offers and Coupons</div>
    <div class="nav-item-heading"><a href="/admin/offer">Offer</a></div>
    <div class="nav-item-heading"><a href="/admin/coupons">Coupon</a></div>
    <div class="nav-item-heading">Stock</div>
    <div class="nav-item-heading"><a href="#">Stock</a></div>
    <div class="nav-item-heading"><a href="/admin/salesReport">Sales Report</a></div>
  </div>

  Main content
  <div class="content">
    Top Navbar
    <nav class="navbar navbar-expand-lg" style="background-color: #04625f;color:white">
      <div class="logo" style="display: flex;flex-direction: row;">
        <div class="logo-text">
            <img src="/images/PuzlMart.svg" alt="" style="width: 200px;">
        </div>
        <div class="rubik-cube">
          <div class="face front">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
          <div class="face back">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
          <div class="face right">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
          <div class="face left">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
          <div class="face top">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
          <div class="face bottom">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center ms-auto">
        <a href="#" class="btn btn-link text-light"><i class="bi bi-envelope"></i></a>
        <a href="#" class="btn btn-link text-light"><i class="bi bi-person-circle"></i></a>
        <button class="btn btn-logout ms-2" style="background-color: #f0ffff;color:#04625f;border-radius: 5px;"><a style="text-decoration: none;" href="/admin/logout">Logout</a></button>
      </div>
    </nav> -->